flows/updateMessagingHistoryIDinMessagingHistory.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <description>IFMessagingConversationFound</description>
        <name>IFMessagingConversationFound</name>
        <label>IFMessagingConversationFound</label>
        <locationX>410</locationX>
        <locationY>463</locationY>
        <defaultConnector>
            <targetReference>CreateMessagingConversation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Create New MessagingConversation and Parent Object</defaultConnectorLabel>
        <rules>
            <name>Exclude_outbound_messages</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Direction__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>out</stringValue>
                </rightValue>
            </conditions>
            <label>Exclude outbound messages</label>
        </rules>
        <rules>
            <name>UpdateMessagingConversationID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getVonageMessagingConversation.BrandPhoneNumber__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MessagingHistoryBrandPhoneNumber</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getVonageMessagingConversation.ContactPhoneNumber__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MessagingConversationContactPhoneNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateMessaupdateMessageHistoryWithConversationIDgeHistoryWithConversationID</targetReference>
            </connector>
            <label>UpdateMessagingConversationID</label>
        </rules>
    </decisions>
    <description>updateMessagingHistoryIDinMessagingHistory</description>
    <interviewLabel>updateMessagingHistoryIDinMessagingHistory {!$Flow.CurrentDateTime}</interviewLabel>
    <label>updateMessagingHistoryIDinMessagingHistory</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>CreateMessagingConversation</description>
        <name>CreateMessagingConversation</name>
        <label>CreateMessagingConversation</label>
        <locationX>145</locationX>
        <locationY>306</locationY>
        <connector>
            <targetReference>getVonageMessagingConversation</targetReference>
        </connector>
        <inputAssignments>
            <field>BrandPhoneNumber__c</field>
            <value>
                <elementReference>MessagingHistoryBrandPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactPhoneNumber__c</field>
            <value>
                <elementReference>MessagingConversationContactPhoneNumber</elementReference>
            </value>
        </inputAssignments>
        <object>VonageMessagingConversation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>send Vonage Messaging Platform Event</description>
        <name>send_Vonage_Messaging_Platform_Event</name>
        <label>send Vonage Messaging Platform Event</label>
        <locationX>968</locationX>
        <locationY>625</locationY>
        <inputAssignments>
            <field>VonageMessagingConversationId__c</field>
            <value>
                <elementReference>getVonageMessagingConversation.Id</elementReference>
            </value>
        </inputAssignments>
        <object>VonageMessagingUpdateEvent__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getVonageMessagingConversation</name>
        <label>getVonageMessagingConversation</label>
        <locationX>720</locationX>
        <locationY>306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IFMessagingConversationFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BrandPhoneNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MessagingHistoryBrandPhoneNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactPhoneNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MessagingConversationContactPhoneNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VonageMessagingConversation__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>updateMessageHistoryWithConversationID</description>
        <name>updateMessaupdateMessageHistoryWithConversationIDgeHistoryWithConversationID</name>
        <label>updateMessageHistoryWithConversationID</label>
        <locationX>770</locationX>
        <locationY>626</locationY>
        <connector>
            <targetReference>send_Vonage_Messaging_Platform_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BrandPhoneNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MessagingHistoryBrandPhoneNumber</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContactPhoneNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MessagingConversationContactPhoneNumber</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MessagingConversation__c</field>
            <value>
                <elementReference>MessagingConversationIDforUpdate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>410</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>getVonageMessagingConversation</targetReference>
        </connector>
        <object>VonageMessagingHistory__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>MessagingConversationContactPhoneNumber</description>
        <name>MessagingConversationContactPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.ContactPhoneNumber__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>MessagingConversationIDforUpdate</description>
        <name>MessagingConversationIDforUpdate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>getVonageMessagingConversation.Id</elementReference>
        </value>
    </variables>
    <variables>
        <description>MessagingHistoryBrandPhoneNumber</description>
        <name>MessagingHistoryBrandPhoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.BrandPhoneNumber__c</elementReference>
        </value>
    </variables>
</Flow>
